@model Otel.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "AdminActivite", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section id="form-control-repeater">
        <div class="row">
            <!-- file repeater  -->
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><b>Yeni Kullanıcı Kayıt</b></h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form action="#">
                                <div class="row">

                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Kullanıcı adı</label>
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control",placeholder="Kullanıcı adınızı giriniz" } })
                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Şifre</label>
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control",placeholder="Şifrenizi giriniz" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Durum</label>
                                        <select name="Interested_in" class="form-control" id="userDurum" name="userDurum">
                                            <option value="male">Aktif</option>
                                            <option value="female">Pasif</option>
                                        </select>

                                    </div>
                                    <div class="col-md-6 col-sm-12 form-group">
                                        <label class="control-label col-md-6">Yetki No</label>
                                        @Html.EditorFor(model => model.yetkiID, new { htmlAttributes = new { @class = "form-control",placeholder="Yetki IDnizi giriniz" } })
                                        @Html.ValidationMessageFor(model => model.yetkiID, "", new { @class = "text-danger" })
                                    </div>
                           
                                
                                    <div class="col-6 form-group file-repeater">
                                        <div data-repeater-list="repeater-list">
                                            <div data-repeater-item>
                                                <div class="row mb-3">
                                                    <div class="col-xl-12 col-lg-12">
                                                        <label class="control-label col-md-6">Logo</label>
                                                        <input type="file" name="logo" id="logo" value="" accept=".jpg,.png,.gif,.JPEG,.jpeg" class="form-control" />
                                                        @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <br /><br />


                                        <div class="col form-group p-0">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Kaydet" class="btn btn-danger" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /file repeater -->

        </div>
    </section>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>