@model Otel.Models.Kategori
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section id="form-control-repeater">
    <div class="row">
        <!-- file repeater  -->
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Kategori Düzenle</b></h3>
                </div>


                <div class="card-body">

                    @using (Html.BeginForm("Edit", "AdminKategori", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.kategoriID)

                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="control-label col-md-6">Kategori Ad</label>
                                @Html.EditorFor(model => model.kategoriAd, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.kategoriAd, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 col-sm-12 form-group">
                                <label class="control-label col-md-6">Kategori Durum</label>
                                @Html.EditorFor(model => model.kategoriDurum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.kategoriDurum, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6 form-group file-repeater">

                                <br /><br />


                                <div class="col form-group p-0" align="center">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Kaydet" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <div>
                    @Html.ActionLink("Geri Dön", "Index")
                </div>
            </div>
            </div>
</div>
</section>
